@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text: #000;
  --background-start: #d6dbdc;
  --background-end: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text: #fff;
    --background-start: #000;
    --background-end: #000;
  }
}

body {
  color: var(--primary-text);
  background: linear-gradient(to bottom, var(--background-start), var(--background-end));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add more utility classes or styles as needed */
